{% extends 'base.html.twig' %}

{% block title %}Hello CalculetteController!{% endblock %}

{% block body %}
<main class="text-center">
<h1 class="text-4xl p-8">Calculatrice</h1>
<h2 class="text-2xl p-6">{{ nbr1 }} {{ op }} {{ nbr2 }} = {{ total }}</h2>
</main>

{% endblock %}
