{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<div class="p-8">
    <section class="max-w-4xl mx-auto bg-white p-8 rounded-lg shadow-md">
        <h1 class="text-4xl font-bold mb-8">Titre de l'Article</h1>
        <p class="text-gray-700 leading-relaxed">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel mauris lectus. Etiam nec lectus eget 
            arcu faucibus eleifend. Nulla facilisi. Integer vehicula, nunc in suscipit venenatis, sapien turpis 
            facilisis nunc, et feugiat augue quam ac nunc. Vestibulum ante ipsum primis in faucibus orci luctus et 
            ultrices posuere cubilia curae; Nulla facilisi. Vivamus sit amet purus ac orci placerat egestas. 
            Fusce vulputate mauris at dolor pharetra, non fermentum est venenatis.
        </p>
        <div class="text-gray-500 text-sm mt-6">
            <span class="font-medium">Auteur Inconnu</span> - <span>10/12/25</span>
        </div>
    </section>
</div>
    
{% endblock %}
